/* Link Hover effect */
.hover_effect {
    &:hover {
        transition: all .2s;
    }
}

/* Zoom overflow */
.zoom_overflow {
    overflow: hidden;
}

/* Zoom hover effect*/
.zoom_effect {
    transition: all .2s;
    &:hover {
        transform: scale(1.1);
    }
}

/* Change carousel mode to dark on small screens */
.carousel-sm-dark .carousel-control-prev-icon, .carousel-sm-dark .carousel-control-next-icon {
    @media screen and (max-width: 766px){
        filter: invert(1) grayscale(100);
    }
}

/* Small font on small screens */
.fs-sm-6 {
    @media screen and (max-width: 450px){
        font-size: 1rem !important;
    }
}

/* New fs-7 utility */
.fs-7 {
    font-size: .9rem;
}

/* Font black color */
.text-black {
    color: #151515;
}

/* Font black gray color */
.text-blackGray {
    color: rgba(0,0,0, .8);
}

/* text-decoration-line: line-through */
.mid-line {
    text-decoration-line: line-through;
}

/* Round button corner */
.btn-rounded {
    border-radius: 2rem;
}

/* Background Color to black */
.black {
    background-image: linear-gradient(90deg,black, black);
}
