.auth_background {
    background-image: linear-gradient(to left, #f5eff0 , white);
    background-size: cover;
    top: 0;
    left: 0;
    position: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
